# Data files
*.coffea
*.root
*.dat
*.pkl
*.hdf5
*.tar
*.zip

# Directory with output files
processor_output_files/

# Checkpoints & cache directories
.ipynb_checkpoints/
workflows/__pycache__/
dask-worker-space/
.vscode/
*.pyc
temp/
.cmslpc-local-conf
.codex
bootstrap.sh

# Local environment files/directories
.bashrc
.condor_config
.ipython/
.local/
parton/
pythia*/
python3.10/
shell

# Python envs
env/
.env/
venv/
.venv/
myenv/
.myenv/
myenv*/
vendor/

# Testing stuff
test*
test*/
lumi/

# Log & txt files
dask-report.html
*.log
*.err
*.out
*.sub
*.txt

# Image files
*.png
*.pdf
