# Data files
*.coffea
*.root
*.dat
*.pkl
*.hdf5
*.tar

# Checkpoints & cache directories
.ipynb_checkpoints/
workflows/__pycache__/
dask-worker-space/
.vscode/
*.pyc

# Local environment files/directories
.bashrc
.condor_config
.ipython/
.local/
shell

# Python envs
env/
.env/
venv/
.venv/
myenv/
.myenv/
myenv*/

# Testing stuff
test*
test*/

# Log & txt files
dask-report.html
*.log
*.err
*.out
*.sub
*.txt

# Image files
*.png
*.pdf
